<div class="bottomMenubg">
  <nav id="fdw">
    <div class="bottomMenuhomelink">
      <%= link_to "", root_path %>
    </div>
    <div class="menu-menyu-3-container">
      <ul id="menu-menyu-3" class="menu">
        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children">
          <%= link_to "Меню", editor_sliders_path %>
        </li>
        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children">
          <%= link_to "Новости", editor_sliders_path %>
        </li>
        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children">
          <%= link_to "Страницы", editor_sliders_path %>
        </li>
        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children">
          <%= link_to "Слайдер", editor_sliders_path %>
        </li>
      </ul>
    </div>
  </nav>
</div>
